<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Vue Calc</title>
  </head>
  <body>
    <div class="main-container grey-border" id="app">
      <div class="name">VueCalc</div>
      <div class="result"><input type="text" v-model="result" class="grey-border" readonly="true"></div>
      <div class="content grey-border">
        <div class="digits">
          <button v-for="number in numbers" v-on:click="updateResult(number.toString(), false)">
            {{ number.toString() }}
          </button>
          <button v-for="xter in specialXters" v-on:click="updateResult(number)">
            {{ xter }}
          </button>
        </div>
        <div class="operators">
          <button v-for="deleteXter in deleteXters" v-on:click="operationMatcher()[deleteXter.text]()">
            {{ deleteXter.text }}
          </button>
          <button v-for="operator in operatorsAsText" v-on:click="updateResult(operator.text, false)">
            {{ operator.text }}
          </button>
          <button v-on:click="updateResult('=', false)">
            =
          </button>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
        specialXters: [".", "+/-"],
        deleteXters: [
          { text: "c" },
          { text: "del" }
        ],
        operatorsAsText: [
          { text: " + " },
          { text: " - " },
          { text: " * " },
          { text: " / " }
        ],
        result: '',
        operatorClick: false
      },
      methods: {
        operators: function() {
          return ["/", "*", "+", "-" ];
        },

        isOperator: function(val) {
          return this.operators().includes(val.replace(/\s/g, ""));
        },

        updateResult: function(val, reset) {
          var result = this.result;
          if (reset || result === '0') {
            result = val;
          } else if (this.operatorClick && ( val === "=" || this.isOperator(val))) {
            result = this.getResult(val);
          } else if (this.isOperator(val) && !this.operatorClick) {
            this.operatorClick = true;
            result += val;
          } else {
            result += val;
          }
          this.result = result.slice(0, 15);
        },

        backspace: function() {
          if (this.result) {
            result = this.result.slice(0,-1);
          } else {
            result = '';
          }

          if (result.length < 1) result = '0';
          this.operatorClick = false;
          this.updateResult(result, true);
        },

        cancel: function() {
          this.operatorClick = false;
          this.updateResult('0', true);
        },

        getResult: function(val) {
          var options = {};
          var result = this.result;

          options.operator = this.operators().find(function(op) {
            return result.includes(op);
          });

          var operands = result.split(" " + options.operator + " ");
          options.firstValue = parseInt(operands[0]);
          options.secondValue = parseInt(operands[1]);
          if (isNaN(options.secondValue)) options.secondValue = 0;

          if (this.isOperator(val)) {
            return this.calculate(options).toString() + val;
          }
          return this.calculate(options).toString();
        },

        calculate: function(options) {
          switch(options.operator) {
            case "*":
              result = options.firstValue * options.secondValue;
              break;
            case "/":
              result = options.firstValue / options.secondValue;
              break;
            case "+":
              result = options.firstValue + options.secondValue;
              break;
            case "-":
              result = options.firstValue - options.secondValue;
              break;
          }
          return result;
        },

        operationMatcher: function() {
          return {
            "c": this.cancel,
            "del": this.backspace
          };
        }
      }
    });
  </script>
</html>
